#include "includes/resource.h"

IDI_APP_ICON ICON "assets/logo/sylent-icon.ico"
IDR_FONT_RUDA_BOLD FONT "assets/fonts/Ruda-Bold.ttf"
IDR_FONT_TANNENBERG_BOLD FONT "assets/fonts/TannenbergFett.ttf"
IDR_PNG_SYLENT_ICON RCDATA "assets/logo/sylent-icon.png"
IDR_PNG_SYLENT_LOGO RCDATA "assets/logo/sylent-logo.png"
IDR_FONT_AWESOME FONT "assets/fonts/fa-solid-900.ttf"


IDR_Skilltrainer_ClassH_Acrobatic RCDATA "SkillTrainer/Icons/Hunter/Acrobatic.png"
IDR_Skilltrainer_ClassH_Adaptability RCDATA "SkillTrainer/Icons/Hunter/Adaptability.png"
IDR_Skilltrainer_ClassH_Ambush RCDATA "SkillTrainer/Icons/Hunter/Ambush.png"
IDR_Skilltrainer_ClassH_Bestial_Wrath RCDATA "SkillTrainer/Icons/Hunter/Bestial_Wrath.png"
IDR_Skilltrainer_ClassH_Break_apart RCDATA "SkillTrainer/Icons/Hunter/Break_apart.png"
IDR_Skilltrainer_ClassH_Caltrops_arrow RCDATA "SkillTrainer/Icons/Hunter/Caltrops_arrow.png"
IDR_Skilltrainer_ClassH_Camouflage RCDATA "SkillTrainer/Icons/Hunter/Camouflage.png"
IDR_Skilltrainer_ClassH_Cat_reflexes RCDATA "SkillTrainer/Icons/Hunter/Cat_reflexes.png"
IDR_Skilltrainer_ClassH_Cold_Blood RCDATA "SkillTrainer/Icons/Hunter/Cold_Blood.png"
IDR_Skilltrainer_ClassH_Confuse RCDATA "SkillTrainer/Icons/Hunter/Confuse.png"
IDR_Skilltrainer_ClassH_Death_sentence RCDATA "SkillTrainer/Icons/Hunter/Death_sentence.png"
IDR_Skilltrainer_ClassH_Dirty_fighting RCDATA "SkillTrainer/Icons/Hunter/Dirty_fighting.png"
IDR_Skilltrainer_ClassH_Distracting_shot RCDATA "SkillTrainer/Icons/Hunter/Distracting_shot.png"
IDR_Skilltrainer_ClassH_Dodge RCDATA "SkillTrainer/Icons/Hunter/Dodge.png"
IDR_Skilltrainer_ClassH_Dual_shot RCDATA "SkillTrainer/Icons/Hunter/Dual_shot.png"
IDR_Skilltrainer_ClassH_Duelist RCDATA "SkillTrainer/Icons/Hunter/Duelist.png"
IDR_Skilltrainer_ClassH_Eagles_eye RCDATA "SkillTrainer/Icons/Hunter/Eagles_eye.png"
IDR_Skilltrainer_ClassH_Enemy_surveillance RCDATA "SkillTrainer/Icons/Hunter/Enemy_surveillance.png"
IDR_Skilltrainer_ClassH_Ensaring_arrow RCDATA "SkillTrainer/Icons/Hunter/Ensaring_arrow.png"
IDR_Skilltrainer_ClassH_Escapist RCDATA "SkillTrainer/Icons/Hunter/Escapist.png"
IDR_Skilltrainer_ClassH_Evasive_tactics RCDATA "SkillTrainer/Icons/Hunter/Evasive_tactics.png"
IDR_Skilltrainer_ClassH_Finesse RCDATA "SkillTrainer/Icons/Hunter/Finesse.png"
IDR_Skilltrainer_ClassH_Grounding_arrow RCDATA "SkillTrainer/Icons/Hunter/Grounding_arrow.png"
IDR_Skilltrainer_ClassH_Head_of_the_pack RCDATA "SkillTrainer/Icons/Hunter/Head_of_the_pack.png"
IDR_Skilltrainer_ClassH_Heal_pet RCDATA "SkillTrainer/Icons/Hunter/Heal_pet.png"
IDR_Skilltrainer_ClassH_Horn_of_the_Wind RCDATA "SkillTrainer/Icons/Hunter/Horn_of_the_Wind.png"
IDR_Skilltrainer_ClassH_Inherited_lightness RCDATA "SkillTrainer/Icons/Hunter/Inherited_lightness.png"
IDR_Skilltrainer_ClassH_Lightness RCDATA "SkillTrainer/Icons/Hunter/Lightness.png"
IDR_Skilltrainer_ClassH_Low_profile RCDATA "SkillTrainer/Icons/Hunter/Low_profile.png"
IDR_Skilltrainer_ClassH_Maneuver RCDATA "SkillTrainer/Icons/Hunter/Maneuver.png"
IDR_Skilltrainer_ClassH_Mobility RCDATA "SkillTrainer/Icons/Hunter/Mobility.png"
IDR_Skilltrainer_ClassH_Natural_armor RCDATA "SkillTrainer/Icons/Hunter/Natural_armor.png"
IDR_Skilltrainer_ClassH_Natural_dominance RCDATA "SkillTrainer/Icons/Hunter/Natural_dominance.png"
IDR_Skilltrainer_ClassH_Natures_fury RCDATA "SkillTrainer/Icons/Hunter/Natures_fury.png"
IDR_Skilltrainer_ClassH_Obfuscate RCDATA "SkillTrainer/Icons/Hunter/Obfuscate.png"
IDR_Skilltrainer_ClassH_Omnipresent RCDATA "SkillTrainer/Icons/Hunter/Omnipresent.png"
IDR_Skilltrainer_ClassH_Parabolic_shot RCDATA "SkillTrainer/Icons/Hunter/Parabolic_shot.png"
IDR_Skilltrainer_ClassH_Point_shot RCDATA "SkillTrainer/Icons/Hunter/Point_shot.png"
IDR_Skilltrainer_ClassH_Power_hinder RCDATA "SkillTrainer/Icons/Hunter/Power_hinder.png"
IDR_Skilltrainer_ClassH_Power_meditation RCDATA "SkillTrainer/Icons/Hunter/Power_meditation.png"
IDR_Skilltrainer_ClassH_Projectile_Rain RCDATA "SkillTrainer/Icons/Hunter/Projectile_Rain.png"
IDR_Skilltrainer_ClassH_Prominent_sight RCDATA "SkillTrainer/Icons/Hunter/Prominent_sight.png"
IDR_Skilltrainer_ClassH_Rapid_shot RCDATA "SkillTrainer/Icons/Hunter/Rapid_shot.png"
IDR_Skilltrainer_ClassH_Repeatition_shot RCDATA "SkillTrainer/Icons/Hunter/Repeatition_shot.png"
IDR_Skilltrainer_ClassH_Retaliation RCDATA "SkillTrainer/Icons/Hunter/Retaliation.png"
IDR_Skilltrainer_ClassH_Reveal RCDATA "SkillTrainer/Icons/Hunter/Reveal.png"
IDR_Skilltrainer_ClassH_Revive_pet RCDATA "SkillTrainer/Icons/Hunter/Revive_pet.png"
IDR_Skilltrainer_ClassH_Sentinel RCDATA "SkillTrainer/Icons/Hunter/Sentinel.png"
IDR_Skilltrainer_ClassH_Shield_Piercing RCDATA "SkillTrainer/Icons/Hunter/Shield_Piercing.png"
IDR_Skilltrainer_ClassH_Skin_of_the_beast RCDATA "SkillTrainer/Icons/Hunter/Skin_of_the_beast.png"
IDR_Skilltrainer_ClassH_Son_of_the_wind RCDATA "SkillTrainer/Icons/Hunter/Son_of_the_wind.png"
IDR_Skilltrainer_ClassH_Specialist RCDATA "SkillTrainer/Icons/Hunter/Specialist.png"
IDR_Skilltrainer_ClassH_Spell_elude RCDATA "SkillTrainer/Icons/Hunter/Spell_elude.png"
IDR_Skilltrainer_ClassH_Stalker_surroundings RCDATA "SkillTrainer/Icons/Hunter/Stalker_surroundings.png"
IDR_Skilltrainer_ClassH_Sticky_touch RCDATA "SkillTrainer/Icons/Hunter/Sticky_touch.png"
IDR_Skilltrainer_ClassH_Stunning_fist RCDATA "SkillTrainer/Icons/Hunter/Stunning_fist.png"
IDR_Skilltrainer_ClassH_Sudden_strike RCDATA "SkillTrainer/Icons/Hunter/Sudden_strike.png"
IDR_Skilltrainer_ClassH_Tear_apart RCDATA "SkillTrainer/Icons/Hunter/Tear_apart.png"
IDR_Skilltrainer_ClassH_Training RCDATA "SkillTrainer/Icons/Hunter/Training.png"
IDR_Skilltrainer_ClassH_War_Council RCDATA "SkillTrainer/Icons/Hunter/War_Council.png"
IDR_Skilltrainer_ClassH_Warmaster_Blood RCDATA "SkillTrainer/Icons/Hunter/Warmaster_Blood.png"
IDR_Skilltrainer_ClassH_Warmaster_might RCDATA "SkillTrainer/Icons/Hunter/Warmaster_might.png"
IDR_Skilltrainer_ClassH_Wild_defence RCDATA "SkillTrainer/Icons/Hunter/Wild_defence.png"
IDR_Skilltrainer_ClassH_Wild_spirit RCDATA "SkillTrainer/Icons/Hunter/Wild_spirit.png"
IDR_Skilltrainer_ClassH_Wits RCDATA "SkillTrainer/Icons/Hunter/Wits.png"
