#include "includes/resource.h"

IDI_APP_ICON ICON "assets/logo/regnumstarter-icon.ico"
IDR_FONT_RUDA_BOLD FONT "assets/fonts/Ruda-Bold.ttf"
IDR_FONT_TANNENBERG_BOLD FONT "assets/fonts/TannenbergFett.ttf"
IDR_PNG_REGNUMSTARTER_ICON RCDATA "assets/logo/regnumstarter-icon.png"
IDR_PNG_CORFORUM_LOGO RCDATA "assets/logo/corforum-logo.png"
IDR_FONT_AWESOME FONT "assets/fonts/fa-solid-900.ttf"
IDR_PNG_EVENDIM_ICON RCDATA "assets/BossPng/Evendim.png"
IDR_PNG_DAEN_ICON RCDATA "assets/BossPng/Daen.png"
IDR_PNG_THORKUL_ICON RCDATA "assets/BossPng/Thorkul.png"
IDR_PNG_SERVER_ICON RCDATA "assets/BossPng/ServerRestart.png"