name: Build and Publish Sylent-X (Windows)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: > 
          mingw-w64-x86_64-toolchain 
          mingw-w64-i686-toolchain

    - name: Create Temporary Directories
      run: |
        mkdir bin
        mkdir tmp

    - name: Extract Version Number
      id: version
      run: echo "version=$(cat version.txt)" >> $GITHUB_ENV

    - name: Build Sylent-X
      shell: msys2 {0}
      run: |
        windres resource.rc resource.o
        g++ -o bin/Sylent-X.exe Sylent-X.cpp \
        libs/imgui/imgui.cpp libs/imgui/imgui_draw.cpp libs/imgui/imgui_widgets.cpp \
        libs/imgui/imgui_tables.cpp resource.o -lurlmon -lwininet -ld3d9 -ldwmapi -static -mwindows

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Sylent-X
        path: bin/Sylent-X.exe

    - name: Push Binary to FTP Server
      env:
        FTP_HOST: ${{ secrets.FTP_HOST }}
        FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
      run: |
        curl -T bin/Sylent-X.exe ftp://${{ env.FTP_HOST }}/Sylent-X-${{ env.version }}.exe --user ${{ env.FTP_USERNAME }}:${{ env.FTP_PASSWORD }}
